.main {
  width: 100%;
  margin: 20% auto;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 240px;
  height: 100%
}

  .inner-card {
    margin: 0 10% 10% 10%;
  }


/*--------------------------------------------------------------------------
  3.  Other Elements
/*------------------------------------------------------------------------*/

form input, textarea {
  width: 420px;
  margin: 3px 10px;
}

form label {
  display: inline-block;
  line-height: 2;
  width: 7em;
  text-align: right;
  vertical-align: top;
}

form #send {
  width: 6.5em;
}

/*--------------------------------------------------------------------------
  4.  Media Queries & Responsiveness
/*------------------------------------------------------------------------*/

@media only screen and (max-width: 1200px) {
  form label {
    text-align: left;
  }
}

@media only screen and (max-width: 800px) {
  form input, textarea {
    width: 280px;
  } 
}